@use "reset";
@use "variables/global";
@use "theme/normal";

body {
  font-family: 'Montserrat', sans-serif;
}

.app {
  display: flex;
  flex-direction: column;
  min-height: 100vh;

  main {
    flex: 1;
    padding-top: 106px;
    background-size: cover;
    opacity: 0;
    animation: fadeInBG 1.5s ease-in-out forwards;
    object-fit: cover;

    &.with-fixed-footer {
      padding-bottom: 208px;
    }
  }
}

header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
}

@keyframes fadeInBG {
  to { opacity: 1; }
}
