@use "reset";
@use "variables/global";
@use "theme/normal";

.app {
  width: 100%;
  min-height: 100vh;
  background: #232323;
  background-size: cover;
  transition: background 0.5s ease-in-out, background-size 0.5s ease-in-out;
  object-fit: cover;
}
