:root {
  // отступы
  --pd-horizontal-base: 90px;
  --pd-vertical-base: 24px;

  // размеры
  --header-height: 106px;
  --footer-height: 106px;
  --height-container: calc(100vh - var(--header-height) - var(--footer-height));

  // BASE COLORS
  --orange-gold-base-color: #C96623;
  --white-base-color: #F9F9F9;

  --gray-1-base-color: #6f6f6f;
  --gray-3-base-color: #333333;
  --gray-4-base-color: #444444;
  --grey-5-base-color: #414141;
  --gray-6-base-color: #2C2C2C;


  /* Accent Colors */
  --orange-accent-color: #F2B65F;
  --orange-accent-color-75: rgba(242, 182, 95, 0.75);

  --gray-muted-color: #9D9D9D;
  --gray-1-muted-color: #8F8F8F;
  --gray-3-muted-color: #F9F9F9;


  --green-accent-color: #9BC650;
  --green-accent-color-75: rgba(155, 198, 80, 0.75);

  /* Hovered */
  --orange-hober-base-color: #8D4818;

  /* Overlay / Background */
  --white-transparent-10: rgba(249, 249, 249, 0.10);

}
