body {
  font-family: 'Montserrat', sans-serif;
}

:root {
  // отступы
  --pages-pd-left: 118px;
  --pages-pd-rigth: 118px;

  // размеры
  --header-height-pc: 50px;
  --footer-height-pc: 274px;
  --footer-height-mobile: 256px;
}
