:root {
  // отступы
  --pd-horizontal-base: 90px;
  --pd-vertical-base: 24px;

  // размеры
  --header-height: 106px;
  --footer-height: 208px;
  --height-container: calc(100vh - var(--header-height) - var(--footer-height));

  // BASE COLORS
  --orange-gold-color-base: #C96623;
  --withe-color-base: #FFF;
  --gray-3-color-base: #333;
  --grey-4-color-base: #444;
}
