$padding: var(--pd-vertical-base) var(--pd-horizontal-base);

.Footer {
  width: 100%;

  &.fixed {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 1000;
  }

  &.static {
    position: static;
    margin-top: auto;
  }
}

.bottom {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: var(--grey-5-base-color);
  height: calc(var(--footer-height) / 2);
  padding: $padding;
}

.logo {
  max-height: 100%;
  display: flex;
  align-items: center
}
