$padding: var(--pd-vertical-base) var(--pd-horizontal-base);

.Footer {
  width: 100%;
}

.advantagesList {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 18px;
  background: var(--orange-gold-color-base);
  height: calc(var(--footer-height) / 2);
  padding: $padding;
}

.advantagesItem {
  display: flex;
  align-items: center;
  justify-content: center;
}

.advantagesTitle {
  color: var(--withe-color-base);
  font-size: 24px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

.advantagesIcon {
  width: 48px;
  height: 48px;
  object-fit: contain;
  margin-right: 18px;

  svg {
    width: 100%;
    height: 100%;
    display: block;
  }
}

.bottom {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: var(--footer-bg);
  height: calc(var(--footer-height) / 2);
  padding: $padding;
}

.logo {
  max-height: 100%;
  display: flex;
  align-items: center
}
