$padding: var(--pd-vertical-base) var(--pd-horizontal-base);

.Footer {
  width: 100%;
  background: var(--footer-bg);
  display:  flex;
  justify-content: center;

  &.fixed {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 1000;
  }

  &.static {
    position: static;
    margin-top: auto;
  }
}

.bottom {
  width:  100%;
  max-width: 1440px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: var(--footer-height);
  padding: $padding;
}

.logo {
  max-height: 100%;
  display: flex;
  align-items: center
}
