$bg-color: var(--orange-gold-color-base);
$text-color: var(--withe-color-base);

.Button {
  width: max-content;
  height: 102px;
  background-color: $bg-color;
  border-radius: 10px;
  opacity: 1;
  transition: opacity 0.5s;

  color: #FFF;

  text-align: center;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 50.5px; /* 315.625% */
  letter-spacing: 0.48px;
  text-transform: uppercase;

  &:hover {
    opacity: 0.6;
  }
}

.clear {
  width:  max-content;
  height: max-content;
  background: none;
  border: none;
}
