$bg-color: var(--orange-gold-base-color);
$bg-color-hover: var(--orange-hober-base-color);
$bg-color-active: var(--white-base-color);
$bg-color-disabled: var(--gray-muted-color);

$text-color: var(--white-base-color);
$text-color-hover: var(--orange-gold-base-color);

$border-color-disabled: var(--gray-1-muted-color);

.Button {
  width: max-content;
  min-height: 24px;
  padding: 12px;

  color: var(--white-base-color);
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;

  opacity: 1;
  transition: all 0.3s ease-in-out;

  &:hover {
   cursor: pointer;
  }

  &:disabled {
    cursor: not-allowed;
  }
}

.clear {
  width:  max-content;
  height: max-content;
  background: none;
  border: none;

  &:hover {

  }
}

.outline {
  background-color: $bg-color;
  border: 1px solid  $bg-color;
  border-radius: 10px;

  &:hover {
    border: solid 1px $bg-color;
    background: $bg-color-hover;
  }

  &:active {
    background-color: $bg-color-active;
    color: $text-color-hover;
  }

  &:disabled {
    border: 1px solid $border-color-disabled;
    background-color: $bg-color-disabled;
    color: #CCC;
  }


}
