$bg-color: var(--orange-gold-color-base);
$bg-color-hover: var(--withe-color-base);

$text-color: var(--withe-color-base);
$text-color-hover: var(--orange-gold-color-base);
.Button {
  width: max-content;
  min-height: 24px;
  padding: 12px;
  background-color: $bg-color;
  border-radius: 10px;
  opacity: 1;
  transition: all 0.6s ease-in-out;

  color: var(--withe-color-base);
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;

  &:hover {
    background: $bg-color-hover;
    color: $text-color-hover;
    border: 1px solid $text-color-hover;
  }
}

.clear {
  width:  max-content;
  height: max-content;
  background: none;
  border: none;
}
