.SocialElement {
  width: 48px;
  height: 48px;
  cursor: pointer;
  transition: all 0.3s ease;

  &:hover {
    filter: drop-shadow(0 0 8px rgba(201, 102, 35, 0.7));
    transform: scale(1.1);
  }
}


@media (max-width: 768px) {
  .SocialElement {
    width: 32px;
    height: 32px;
  }
}
