$color: var(--white-base-color);
$color-accent: var(--orange-gold-base-color);

.ToolItem {
  display: flex;
  flex-direction: row;
  align-items: center;
  flex-wrap: wrap;
  gap: 10px;
  width: max-content;
  height: 60px;
  border: 1px solid $color;
  border-radius: 5px;
  padding: 10px;
  transition: border 0.2s ease, opacity 0.2s ease;
}

.active {
  background-color: $color-accent;
  border-color: $color;

  .text {
    color: $color;
  }

  .icon {
    fill: $color;
  }

  &:hover {
    opacity: 1;
    cursor: default;
  }
}

.text {
  color: $color;
  text-align: center;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 153.4%;
  white-space: pre-line;
  transition: color 0.2s ease;
}

.icon {
  fill: $color;
  transition: fill 0.2s ease;
}
