$bg-color: var(--orange-gold-base-color);
$bg-color-hover: var(--orange-hober-base-color);
$bg-color-active: var(--white-base-color);

$text-color: var(--white-base-color);
$text-color-hover: var(--orange-gold-base-color);

body {
  background: var(--gray-6-base-color);
}

.ToolCatalog {
  padding: 0 64px 0 64px;
}

.tool {
  display: flex;
  justify-content:  space-between;
  gap: 10px;
}

.content {
  width: 852px;
  padding: 64px 0;
  margin: 0 auto;
  text-align: center;

  & .header {
    margin-bottom:  16px;
    text-transform: uppercase;

    & .title {
      color: var(--white-base-color );
      text-align: center;
      text-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
      font-size: 55px;
      font-style: normal;
      font-weight: 700;
      line-height: 60px;
      letter-spacing: 2.75px;
    }

    & .subTitle {
      color: $bg-color;
      text-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
      font-size: 24px;
      font-style: normal;
      font-weight: 500;
      line-height: 131.9%;
    }
  }

  & .description {
    color: var(--gray-muted-color);
    text-align: center;
    text-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
    font-size: 20px;
    font-style: normal;
    font-weight: 300;
    line-height: 131.9%; /* 26.38px */
  }

  .linkInfo {
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 300px;
    margin: 34px auto 0 auto;
    min-height: 54px;
    border-radius: 10px;
    background: $bg-color;

    &:hover {
      border: solid 1px $bg-color;
      background: $bg-color-hover;
    }

    &:active {
      background-color: $bg-color-active;
      color: $text-color-hover;
    }

    & .linkText {
      text-align: center;
      font-size: 16px;
      font-style: normal;
      font-weight: 700;
      line-height: 50.5px;
      letter-spacing: 0.48px;
      text-transform: uppercase;
    }
  }
}
