$border-radius: 18px;
$default-bg: var(--grey-5-base-color);
$hover-bg: #FAF0E9;
$hover-border: var(--orange-gold-base-color);
$hover-text: #A15420;
$top-pick-color: var(--green-accent-color);
$top-pick-accent-color: var(--green-accent-color-75);
$client-pick-color: var(--orange-accent-color);
$client-pick-accent-color: var(--orange-accent-color-75);
$text-color: var(--gray-3-base-color);
$text-color-default: #FFF;

.AppLink {
  max-width: 32%;
}

.Card {
  position: relative;
  max-width: 100%;
  padding: 12px 12px 24px;
  border-radius: $border-radius;
  border: 2px solid $default-bg;
  background: $default-bg;
  color: $text-color-default;
  transition: all 0.3s ease;

  &:hover {
    background: $hover-bg;
    border-color: $hover-border;
    color: $hover-text;
  }

  // Модификаторы
  &:has(.TOP_PICK) {
    border-color: $top-pick-color;
    background: $top-pick-accent-color;

    &:hover {
      background: #F5F9EE;
      color: #546D28;
    }
  }

  &:has(.CLIENT_PICK) {
    border-color: $client-pick-color;
    background: $client-pick-accent-color;

    &:hover {
      background: #F5F9EE;
    }
  }

  .img {
    width: 100%;
    height: 480px;
    object-fit: cover;
    border-radius: $border-radius;
  }

  .header {
    text-align: left;
  }

  .title {
    min-height: 58px;
    margin-top: 30px;
    font-size: 24px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    color: inherit;
  }

  .description {
    font-size: 20px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
    color: inherit;
    min-height: 48px;
  }

  // Бейдж
  .badge {
    position: absolute;
    top: -2px;
    left: -2px;
    display: flex;
    align-items: center;
    padding: 6px 12px;
    min-height: 50px;
    max-width: max-content;
    border-radius: $border-radius;
    color: var(--withe-color-base);
    font-weight: bold;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);

    &.CLIENT_PICK {
      background: $client-pick-color;
    }

    &.TOP_PICK {
      background: $top-pick-color;
    }

    .badgeIcon {
      margin-right: 12px;
    }
  }
}
