.CatalogGroup {
  padding: 64px var(--pd-horizontal-base) 64px;
}

.container {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  gap: 18px;
  margin-bottom: 50px;
  flex-wrap: nowrap;
  min-width: 0;
}

.textContent {
  flex: 1;
  min-width: 0;
}

.title {
  color: var(--orange-gold-base-color);
  text-align: start;
  font-size: 48px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  margin-bottom: 12px;

  word-wrap: break-word;
  overflow-wrap: break-word;
  word-break: break-word;
  white-space: normal;
  hyphens: auto;
}

.subTitle {
  color: var(--gray-muted-color);
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;

  word-wrap: break-word;
  overflow-wrap: break-word;
  word-break: break-word;
  white-space: normal;
  hyphens: auto;
}

.link {
  flex-shrink: 0;
  width: 230px;

  display: flex;
  align-items: center;
  flex-wrap: nowrap;
  min-height: 24px;
  border-radius: 18px;
  border: 1px solid var(--orange-gold-base-color);
  background: var(--orange-gold-base-color);
  padding: 12px;
  opacity: 1;
  transition: all 0.3s ease-in-out;

  color: #FFF;
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  white-space: nowrap;

  &:hover {
    background: var(--orange-hober-base-color);
  }
}

.catalogList {
  display: flex;
  flex-wrap: wrap;
  gap: 50px 20px;
}
