$border-radius: 18px;
$default-bg: #FCFCFC;
$hover-bg: #FAF0E9;
$hover-border: var(--orange-gold-base-color);
$hover-text: #A15420;
$top-pick-color: var(--green-accent-color);
$client-pick-color: var(--orange-accent-color);
$text-color: var(--gray-3-color-base);
$white-color: var(--white-base-color);
$stars-pick-color: rgba(40, 40, 40, 0.40);

.Badge {
  border-radius: $border-radius;
  height: 50px;
  max-width: max-content;
  padding: 6px 12px;
  display: flex;
  align-items: center;
  color: var(--withe-color-base);
  font-weight: bold;

  &.CLIENT_PICK {
    background: $client-pick-color;
  }

  &.TOP_PICK {
    background: $top-pick-color;
  }

  &.STARS_PICK {
    background: $stars-pick-color;
  }
}

.badgeIcon {
  margin-right: 12px;
}

.title {
  margin-top: 30px;
  color: inherit;
  text-align: center;
  font-size: 24px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

