.AppLink {
  max-width: 100%;
}

.secondary {
  border-radius: 18px;
  background: var(--orange-gold-color-base);
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
  min-height: 54px;
  transition: all 0.6s ease-in-out;
  color: var(--withe-color-base);
  text-align: center;

  &:hover {
    background: var(--withe-color-base);
    box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
    border: 2px solid var(--orange-gold-color-base);
    color: var(--orange-gold-color-base);
  }
}
