$color: #fff;
$color-accent: var(--orange-gold-base-color);

.ToolItem {
  display: flex;
  flex-direction: row;
  align-items: center;
  flex-wrap: wrap;
  gap: 10px;
  width: max-content;
  height: 60px;
  border: 1px solid $color;
  border-radius: 5px;
  padding: 10px;

  opacity: 0.75;
  transform: scale(0.985);
  background-color: transparent;
  cursor: pointer;

  transition: opacity 0.8s cubic-bezier(0.22, 0.61, 0.36, 1),
  transform 0.8s cubic-bezier(0.22, 0.61, 0.36, 1),
  background-color 0.8s cubic-bezier(0.22, 0.61, 0.36, 1),
  border-color 0.8s cubic-bezier(0.22, 0.61, 0.36, 1);

  &:not(.active):hover {
    background-color: transparent;
    border-color: $color-accent;

    .text {
      color: $color-accent;
    }

    .icon {
      color: $color-accent;
    }
  }

  .active:hover {
    background-color: $color-accent;
    border-color: $color;


    .text {
      color: $color;
    }

    .icon {
      color: $color;
    }
  }
}

.active {
  background-color: $color-accent;
  border-color: $color;

  opacity: 1;
  transform: scale(1);

  .text {
    color: $color;
    transition: color 0.8s cubic-bezier(0.22, 0.61, 0.36, 1);
  }

  .icon {
    color: $color;
    transition: color 0.8s cubic-bezier(0.22, 0.61, 0.36, 1);
  }
}

.text {
  color: $color;
  text-align: center;
  font-size: 14px;
  font-weight: 500;
  line-height: 153.4%;
  white-space: pre-line;
  transition: color 0.8s cubic-bezier(0.22, 0.61, 0.36, 1);
}

.icon {
  width: 48px;
  height:  48px;
  color: $color;
  transition: color 0.8s cubic-bezier(0.22, 0.61, 0.36, 1);
}


